
html {
    width: 100vw;
    height: 100vh;
}
body {
    font-family: 'Lato', sans-serif;
    font-size:20px;
    color:white;
    background: radial-gradient(ellipse at bottom center, #2a1a33 -50%, #110b13 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-2; 
}
.container {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    z-index:-1; 
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 3em;
    margin-top: 20px;
}
.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    box-shadow: 0px 5px 0px rgb(63, 44, 60);
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    background-color: rgb(102, 71, 99);
    transition: 0.15s all;
}
.button:hover {
    background-color: rgb(119, 82, 115);
    box-shadow: 0px 5px 2px rgb(70, 52, 67);

}
.button:active {
    transform: scale(0.9);

}
.actions {
    display: flex;
    font-size: 1.3em;

}